/* =============================================
 *                 IE hacks
 *          Last Updated:2013-5-22
 * ===========================================*/
html.lt-ie9 {
  min-width: 1200px !important;
}
html.lt-ie9 body {
  width: auto !important;
}
html.lt-ie9 .container {
  width: auto !important;
}
