/* =============================================
 *       GroundworkCSS by Gary Hepting
 *          Last Updated:2013-5-22
 * ===========================================*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("/js/libs/boxsizing.htc");
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  width: 100%;
}

.column, .whole,
.wholes, .whole.one,
.wholes.one, .half,
.halves, .half.one,
.halves.one, .half.two,
.halves.two, .third,
.thirds, .third.one,
.thirds.one, .third.two,
.thirds.two, .third.three,
.thirds.three, .fourth,
.fourths, .fourth.one,
.fourths.one, .fourth.two,
.fourths.two, .fourth.three,
.fourths.three, .fourth.four,
.fourths.four, .fifth,
.fifths, .fifth.one,
.fifths.one, .fifth.two,
.fifths.two, .fifth.three,
.fifths.three, .fifth.four,
.fifths.four, .fifth.five,
.fifths.five, .sixth,
.sixths, .sixth.one,
.sixths.one, .sixth.two,
.sixths.two, .sixth.three,
.sixths.three, .sixth.four,
.sixths.four, .sixth.five,
.sixths.five, .sixth.six,
.sixths.six, .seventh,
.sevenths, .seventh.one,
.sevenths.one, .seventh.two,
.sevenths.two, .seventh.three,
.sevenths.three, .seventh.four,
.sevenths.four, .seventh.five,
.sevenths.five, .seventh.six,
.sevenths.six, .seventh.seven,
.sevenths.seven, .eighth,
.eighths, .eighth.one,
.eighths.one, .eighth.two,
.eighths.two, .eighth.three,
.eighths.three, .eighth.four,
.eighths.four, .eighth.five,
.eighths.five, .eighth.six,
.eighths.six, .eighth.seven,
.eighths.seven, .eighth.eight,
.eighths.eight, .ninth,
.ninths, .ninth.one,
.ninths.one, .ninth.two,
.ninths.two, .ninth.three,
.ninths.three, .ninth.four,
.ninths.four, .ninth.five,
.ninths.five, .ninth.six,
.ninths.six, .ninth.seven,
.ninths.seven, .ninth.eight,
.ninths.eight, .ninth.nine,
.ninths.nine, .tenth,
.tenths, .tenth.one,
.tenths.one, .tenth.two,
.tenths.two, .tenth.three,
.tenths.three, .tenth.four,
.tenths.four, .tenth.five,
.tenths.five, .tenth.six,
.tenths.six, .tenth.seven,
.tenths.seven, .tenth.eight,
.tenths.eight, .tenth.nine,
.tenths.nine, .tenth.ten,
.tenths.ten, .eleventh,
.elevenths, .eleventh.one,
.elevenths.one, .eleventh.two,
.elevenths.two, .eleventh.three,
.elevenths.three, .eleventh.four,
.elevenths.four, .eleventh.five,
.elevenths.five, .eleventh.six,
.elevenths.six, .eleventh.seven,
.elevenths.seven, .eleventh.eight,
.elevenths.eight, .eleventh.nine,
.elevenths.nine, .eleventh.ten,
.elevenths.ten, .eleventh.eleven,
.elevenths.eleven, .twelfth,
.twelfths, .twelfth.one,
.twelfths.one, .twelfth.two,
.twelfths.two, .twelfth.three,
.twelfths.three, .twelfth.four,
.twelfths.four, .twelfth.five,
.twelfths.five, .twelfth.six,
.twelfths.six, .twelfth.seven,
.twelfths.seven, .twelfth.eight,
.twelfths.eight, .twelfth.nine,
.twelfths.nine, .twelfth.ten,
.twelfths.ten, .twelfth.eleven,
.twelfths.eleven, .twelfth.twelve,
.twelfths.twelve {
  float: left;
  position: relative;
  min-height: 1px;
}

.centered {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.whole,
.wholes {
  width: 100%;
}
.whole.one,
.wholes.one {
  width: 100%;
}

.half,
.halves {
  width: 50%;
}
.half.one,
.halves.one {
  width: 50%;
}
.half.two,
.halves.two {
  width: 100%;
}
.half.right-one,
.halves.right-one {
  left: 50%;
}
.half.left-one,
.halves.left-one {
  right: 50%;
}
.half.skip-one,
.halves.skip-one {
  margin-left: 50%;
}

.third,
.thirds {
  width: 33.33333%;
}
.third.one,
.thirds.one {
  width: 33.33333%;
}
.third.two,
.thirds.two {
  width: 66.66667%;
}
.third.three,
.thirds.three {
  width: 100%;
}
.third.right-one,
.thirds.right-one {
  left: 33.33333%;
}
.third.left-one,
.thirds.left-one {
  right: 33.33333%;
}
.third.skip-one,
.thirds.skip-one {
  margin-left: 33.33333%;
}
.third.right-two,
.thirds.right-two {
  left: 66.66667%;
}
.third.left-two,
.thirds.left-two {
  right: 66.66667%;
}
.third.skip-two,
.thirds.skip-two {
  margin-left: 66.66667%;
}

.fourth,
.fourths {
  width: 25%;
}
.fourth.one,
.fourths.one {
  width: 25%;
}
.fourth.two,
.fourths.two {
  width: 50%;
}
.fourth.three,
.fourths.three {
  width: 75%;
}
.fourth.four,
.fourths.four {
  width: 100%;
}
.fourth.right-one,
.fourths.right-one {
  left: 25%;
}
.fourth.left-one,
.fourths.left-one {
  right: 25%;
}
.fourth.skip-one,
.fourths.skip-one {
  margin-left: 25%;
}
.fourth.right-two,
.fourths.right-two {
  left: 50%;
}
.fourth.left-two,
.fourths.left-two {
  right: 50%;
}
.fourth.skip-two,
.fourths.skip-two {
  margin-left: 50%;
}
.fourth.right-three,
.fourths.right-three {
  left: 75%;
}
.fourth.left-three,
.fourths.left-three {
  right: 75%;
}
.fourth.skip-three,
.fourths.skip-three {
  margin-left: 75%;
}

.fifth,
.fifths {
  width: 20%;
}
.fifth.one,
.fifths.one {
  width: 20%;
}
.fifth.two,
.fifths.two {
  width: 40%;
}
.fifth.three,
.fifths.three {
  width: 60%;
}
.fifth.four,
.fifths.four {
  width: 80%;
}
.fifth.five,
.fifths.five {
  width: 100%;
}
.fifth.right-one,
.fifths.right-one {
  left: 20%;
}
.fifth.left-one,
.fifths.left-one {
  right: 20%;
}
.fifth.skip-one,
.fifths.skip-one {
  margin-left: 20%;
}
.fifth.right-two,
.fifths.right-two {
  left: 40%;
}
.fifth.left-two,
.fifths.left-two {
  right: 40%;
}
.fifth.skip-two,
.fifths.skip-two {
  margin-left: 40%;
}
.fifth.right-three,
.fifths.right-three {
  left: 60%;
}
.fifth.left-three,
.fifths.left-three {
  right: 60%;
}
.fifth.skip-three,
.fifths.skip-three {
  margin-left: 60%;
}
.fifth.right-four,
.fifths.right-four {
  left: 80%;
}
.fifth.left-four,
.fifths.left-four {
  right: 80%;
}
.fifth.skip-four,
.fifths.skip-four {
  margin-left: 80%;
}

.sixth,
.sixths {
  width: 16.66667%;
}
.sixth.one,
.sixths.one {
  width: 16.66667%;
}
.sixth.two,
.sixths.two {
  width: 33.33333%;
}
.sixth.three,
.sixths.three {
  width: 50%;
}
.sixth.four,
.sixths.four {
  width: 66.66667%;
}
.sixth.five,
.sixths.five {
  width: 83.33333%;
}
.sixth.six,
.sixths.six {
  width: 100%;
}
.sixth.right-one,
.sixths.right-one {
  left: 16.66667%;
}
.sixth.left-one,
.sixths.left-one {
  right: 16.66667%;
}
.sixth.skip-one,
.sixths.skip-one {
  margin-left: 16.66667%;
}
.sixth.right-two,
.sixths.right-two {
  left: 33.33333%;
}
.sixth.left-two,
.sixths.left-two {
  right: 33.33333%;
}
.sixth.skip-two,
.sixths.skip-two {
  margin-left: 33.33333%;
}
.sixth.right-three,
.sixths.right-three {
  left: 50%;
}
.sixth.left-three,
.sixths.left-three {
  right: 50%;
}
.sixth.skip-three,
.sixths.skip-three {
  margin-left: 50%;
}
.sixth.right-four,
.sixths.right-four {
  left: 66.66667%;
}
.sixth.left-four,
.sixths.left-four {
  right: 66.66667%;
}
.sixth.skip-four,
.sixths.skip-four {
  margin-left: 66.66667%;
}
.sixth.right-five,
.sixths.right-five {
  left: 83.33333%;
}
.sixth.left-five,
.sixths.left-five {
  right: 83.33333%;
}
.sixth.skip-five,
.sixths.skip-five {
  margin-left: 83.33333%;
}

.seventh,
.sevenths {
  width: 14.28571%;
}
.seventh.one,
.sevenths.one {
  width: 14.28571%;
}
.seventh.two,
.sevenths.two {
  width: 28.57143%;
}
.seventh.three,
.sevenths.three {
  width: 42.85714%;
}
.seventh.four,
.sevenths.four {
  width: 57.14286%;
}
.seventh.five,
.sevenths.five {
  width: 71.42857%;
}
.seventh.six,
.sevenths.six {
  width: 85.71429%;
}
.seventh.seven,
.sevenths.seven {
  width: 100%;
}
.seventh.right-one,
.sevenths.right-one {
  left: 14.28571%;
}
.seventh.left-one,
.sevenths.left-one {
  right: 14.28571%;
}
.seventh.skip-one,
.sevenths.skip-one {
  margin-left: 14.28571%;
}
.seventh.right-two,
.sevenths.right-two {
  left: 28.57143%;
}
.seventh.left-two,
.sevenths.left-two {
  right: 28.57143%;
}
.seventh.skip-two,
.sevenths.skip-two {
  margin-left: 28.57143%;
}
.seventh.right-three,
.sevenths.right-three {
  left: 42.85714%;
}
.seventh.left-three,
.sevenths.left-three {
  right: 42.85714%;
}
.seventh.skip-three,
.sevenths.skip-three {
  margin-left: 42.85714%;
}
.seventh.right-four,
.sevenths.right-four {
  left: 57.14286%;
}
.seventh.left-four,
.sevenths.left-four {
  right: 57.14286%;
}
.seventh.skip-four,
.sevenths.skip-four {
  margin-left: 57.14286%;
}
.seventh.right-five,
.sevenths.right-five {
  left: 71.42857%;
}
.seventh.left-five,
.sevenths.left-five {
  right: 71.42857%;
}
.seventh.skip-five,
.sevenths.skip-five {
  margin-left: 71.42857%;
}
.seventh.right-six,
.sevenths.right-six {
  left: 85.71429%;
}
.seventh.left-six,
.sevenths.left-six {
  right: 85.71429%;
}
.seventh.skip-six,
.sevenths.skip-six {
  margin-left: 85.71429%;
}

.eighth,
.eighths {
  width: 12.5%;
}
.eighth.one,
.eighths.one {
  width: 12.5%;
}
.eighth.two,
.eighths.two {
  width: 25%;
}
.eighth.three,
.eighths.three {
  width: 37.5%;
}
.eighth.four,
.eighths.four {
  width: 50%;
}
.eighth.five,
.eighths.five {
  width: 62.5%;
}
.eighth.six,
.eighths.six {
  width: 75%;
}
.eighth.seven,
.eighths.seven {
  width: 87.5%;
}
.eighth.eight,
.eighths.eight {
  width: 100%;
}
.eighth.right-one,
.eighths.right-one {
  left: 12.5%;
}
.eighth.left-one,
.eighths.left-one {
  right: 12.5%;
}
.eighth.skip-one,
.eighths.skip-one {
  margin-left: 12.5%;
}
.eighth.right-two,
.eighths.right-two {
  left: 25%;
}
.eighth.left-two,
.eighths.left-two {
  right: 25%;
}
.eighth.skip-two,
.eighths.skip-two {
  margin-left: 25%;
}
.eighth.right-three,
.eighths.right-three {
  left: 37.5%;
}
.eighth.left-three,
.eighths.left-three {
  right: 37.5%;
}
.eighth.skip-three,
.eighths.skip-three {
  margin-left: 37.5%;
}
.eighth.right-four,
.eighths.right-four {
  left: 50%;
}
.eighth.left-four,
.eighths.left-four {
  right: 50%;
}
.eighth.skip-four,
.eighths.skip-four {
  margin-left: 50%;
}
.eighth.right-five,
.eighths.right-five {
  left: 62.5%;
}
.eighth.left-five,
.eighths.left-five {
  right: 62.5%;
}
.eighth.skip-five,
.eighths.skip-five {
  margin-left: 62.5%;
}
.eighth.right-six,
.eighths.right-six {
  left: 75%;
}
.eighth.left-six,
.eighths.left-six {
  right: 75%;
}
.eighth.skip-six,
.eighths.skip-six {
  margin-left: 75%;
}
.eighth.right-seven,
.eighths.right-seven {
  left: 87.5%;
}
.eighth.left-seven,
.eighths.left-seven {
  right: 87.5%;
}
.eighth.skip-seven,
.eighths.skip-seven {
  margin-left: 87.5%;
}

.ninth,
.ninths {
  width: 11.11111%;
}
.ninth.one,
.ninths.one {
  width: 11.11111%;
}
.ninth.two,
.ninths.two {
  width: 22.22222%;
}
.ninth.three,
.ninths.three {
  width: 33.33333%;
}
.ninth.four,
.ninths.four {
  width: 44.44444%;
}
.ninth.five,
.ninths.five {
  width: 55.55556%;
}
.ninth.six,
.ninths.six {
  width: 66.66667%;
}
.ninth.seven,
.ninths.seven {
  width: 77.77778%;
}
.ninth.eight,
.ninths.eight {
  width: 88.88889%;
}
.ninth.nine,
.ninths.nine {
  width: 100%;
}
.ninth.right-one,
.ninths.right-one {
  left: 11.11111%;
}
.ninth.left-one,
.ninths.left-one {
  right: 11.11111%;
}
.ninth.skip-one,
.ninths.skip-one {
  margin-left: 11.11111%;
}
.ninth.right-two,
.ninths.right-two {
  left: 22.22222%;
}
.ninth.left-two,
.ninths.left-two {
  right: 22.22222%;
}
.ninth.skip-two,
.ninths.skip-two {
  margin-left: 22.22222%;
}
.ninth.right-three,
.ninths.right-three {
  left: 33.33333%;
}
.ninth.left-three,
.ninths.left-three {
  right: 33.33333%;
}
.ninth.skip-three,
.ninths.skip-three {
  margin-left: 33.33333%;
}
.ninth.right-four,
.ninths.right-four {
  left: 44.44444%;
}
.ninth.left-four,
.ninths.left-four {
  right: 44.44444%;
}
.ninth.skip-four,
.ninths.skip-four {
  margin-left: 44.44444%;
}
.ninth.right-five,
.ninths.right-five {
  left: 55.55556%;
}
.ninth.left-five,
.ninths.left-five {
  right: 55.55556%;
}
.ninth.skip-five,
.ninths.skip-five {
  margin-left: 55.55556%;
}
.ninth.right-six,
.ninths.right-six {
  left: 66.66667%;
}
.ninth.left-six,
.ninths.left-six {
  right: 66.66667%;
}
.ninth.skip-six,
.ninths.skip-six {
  margin-left: 66.66667%;
}
.ninth.right-seven,
.ninths.right-seven {
  left: 77.77778%;
}
.ninth.left-seven,
.ninths.left-seven {
  right: 77.77778%;
}
.ninth.skip-seven,
.ninths.skip-seven {
  margin-left: 77.77778%;
}
.ninth.right-eight,
.ninths.right-eight {
  left: 88.88889%;
}
.ninth.left-eight,
.ninths.left-eight {
  right: 88.88889%;
}
.ninth.skip-eight,
.ninths.skip-eight {
  margin-left: 88.88889%;
}

.tenth,
.tenths {
  width: 10%;
}
.tenth.one,
.tenths.one {
  width: 10%;
}
.tenth.two,
.tenths.two {
  width: 20%;
}
.tenth.three,
.tenths.three {
  width: 30%;
}
.tenth.four,
.tenths.four {
  width: 40%;
}
.tenth.five,
.tenths.five {
  width: 50%;
}
.tenth.six,
.tenths.six {
  width: 60%;
}
.tenth.seven,
.tenths.seven {
  width: 70%;
}
.tenth.eight,
.tenths.eight {
  width: 80%;
}
.tenth.nine,
.tenths.nine {
  width: 90%;
}
.tenth.ten,
.tenths.ten {
  width: 100%;
}
.tenth.right-one,
.tenths.right-one {
  left: 10%;
}
.tenth.left-one,
.tenths.left-one {
  right: 10%;
}
.tenth.skip-one,
.tenths.skip-one {
  margin-left: 10%;
}
.tenth.right-two,
.tenths.right-two {
  left: 20%;
}
.tenth.left-two,
.tenths.left-two {
  right: 20%;
}
.tenth.skip-two,
.tenths.skip-two {
  margin-left: 20%;
}
.tenth.right-three,
.tenths.right-three {
  left: 30%;
}
.tenth.left-three,
.tenths.left-three {
  right: 30%;
}
.tenth.skip-three,
.tenths.skip-three {
  margin-left: 30%;
}
.tenth.right-four,
.tenths.right-four {
  left: 40%;
}
.tenth.left-four,
.tenths.left-four {
  right: 40%;
}
.tenth.skip-four,
.tenths.skip-four {
  margin-left: 40%;
}
.tenth.right-five,
.tenths.right-five {
  left: 50%;
}
.tenth.left-five,
.tenths.left-five {
  right: 50%;
}
.tenth.skip-five,
.tenths.skip-five {
  margin-left: 50%;
}
.tenth.right-six,
.tenths.right-six {
  left: 60%;
}
.tenth.left-six,
.tenths.left-six {
  right: 60%;
}
.tenth.skip-six,
.tenths.skip-six {
  margin-left: 60%;
}
.tenth.right-seven,
.tenths.right-seven {
  left: 70%;
}
.tenth.left-seven,
.tenths.left-seven {
  right: 70%;
}
.tenth.skip-seven,
.tenths.skip-seven {
  margin-left: 70%;
}
.tenth.right-eight,
.tenths.right-eight {
  left: 80%;
}
.tenth.left-eight,
.tenths.left-eight {
  right: 80%;
}
.tenth.skip-eight,
.tenths.skip-eight {
  margin-left: 80%;
}
.tenth.right-nine,
.tenths.right-nine {
  left: 90%;
}
.tenth.left-nine,
.tenths.left-nine {
  right: 90%;
}
.tenth.skip-nine,
.tenths.skip-nine {
  margin-left: 90%;
}

.eleventh,
.elevenths {
  width: 9.09091%;
}
.eleventh.one,
.elevenths.one {
  width: 9.09091%;
}
.eleventh.two,
.elevenths.two {
  width: 18.18182%;
}
.eleventh.three,
.elevenths.three {
  width: 27.27273%;
}
.eleventh.four,
.elevenths.four {
  width: 36.36364%;
}
.eleventh.five,
.elevenths.five {
  width: 45.45455%;
}
.eleventh.six,
.elevenths.six {
  width: 54.54545%;
}
.eleventh.seven,
.elevenths.seven {
  width: 63.63636%;
}
.eleventh.eight,
.elevenths.eight {
  width: 72.72727%;
}
.eleventh.nine,
.elevenths.nine {
  width: 81.81818%;
}
.eleventh.ten,
.elevenths.ten {
  width: 90.90909%;
}
.eleventh.eleven,
.elevenths.eleven {
  width: 100%;
}
.eleventh.right-one,
.elevenths.right-one {
  left: 9.09091%;
}
.eleventh.left-one,
.elevenths.left-one {
  right: 9.09091%;
}
.eleventh.skip-one,
.elevenths.skip-one {
  margin-left: 9.09091%;
}
.eleventh.right-two,
.elevenths.right-two {
  left: 18.18182%;
}
.eleventh.left-two,
.elevenths.left-two {
  right: 18.18182%;
}
.eleventh.skip-two,
.elevenths.skip-two {
  margin-left: 18.18182%;
}
.eleventh.right-three,
.elevenths.right-three {
  left: 27.27273%;
}
.eleventh.left-three,
.elevenths.left-three {
  right: 27.27273%;
}
.eleventh.skip-three,
.elevenths.skip-three {
  margin-left: 27.27273%;
}
.eleventh.right-four,
.elevenths.right-four {
  left: 36.36364%;
}
.eleventh.left-four,
.elevenths.left-four {
  right: 36.36364%;
}
.eleventh.skip-four,
.elevenths.skip-four {
  margin-left: 36.36364%;
}
.eleventh.right-five,
.elevenths.right-five {
  left: 45.45455%;
}
.eleventh.left-five,
.elevenths.left-five {
  right: 45.45455%;
}
.eleventh.skip-five,
.elevenths.skip-five {
  margin-left: 45.45455%;
}
.eleventh.right-six,
.elevenths.right-six {
  left: 54.54545%;
}
.eleventh.left-six,
.elevenths.left-six {
  right: 54.54545%;
}
.eleventh.skip-six,
.elevenths.skip-six {
  margin-left: 54.54545%;
}
.eleventh.right-seven,
.elevenths.right-seven {
  left: 63.63636%;
}
.eleventh.left-seven,
.elevenths.left-seven {
  right: 63.63636%;
}
.eleventh.skip-seven,
.elevenths.skip-seven {
  margin-left: 63.63636%;
}
.eleventh.right-eight,
.elevenths.right-eight {
  left: 72.72727%;
}
.eleventh.left-eight,
.elevenths.left-eight {
  right: 72.72727%;
}
.eleventh.skip-eight,
.elevenths.skip-eight {
  margin-left: 72.72727%;
}
.eleventh.right-nine,
.elevenths.right-nine {
  left: 81.81818%;
}
.eleventh.left-nine,
.elevenths.left-nine {
  right: 81.81818%;
}
.eleventh.skip-nine,
.elevenths.skip-nine {
  margin-left: 81.81818%;
}
.eleventh.right-ten,
.elevenths.right-ten {
  left: 90.90909%;
}
.eleventh.left-ten,
.elevenths.left-ten {
  right: 90.90909%;
}
.eleventh.skip-ten,
.elevenths.skip-ten {
  margin-left: 90.90909%;
}

.twelfth,
.twelfths {
  width: 8.33333%;
}
.twelfth.one,
.twelfths.one {
  width: 8.33333%;
}
.twelfth.two,
.twelfths.two {
  width: 16.66667%;
}
.twelfth.three,
.twelfths.three {
  width: 25%;
}
.twelfth.four,
.twelfths.four {
  width: 33.33333%;
}
.twelfth.five,
.twelfths.five {
  width: 41.66667%;
}
.twelfth.six,
.twelfths.six {
  width: 50%;
}
.twelfth.seven,
.twelfths.seven {
  width: 58.33333%;
}
.twelfth.eight,
.twelfths.eight {
  width: 66.66667%;
}
.twelfth.nine,
.twelfths.nine {
  width: 75%;
}
.twelfth.ten,
.twelfths.ten {
  width: 83.33333%;
}
.twelfth.eleven,
.twelfths.eleven {
  width: 91.66667%;
}
.twelfth.twelve,
.twelfths.twelve {
  width: 100%;
}
.twelfth.right-one,
.twelfths.right-one {
  left: 8.33333%;
}
.twelfth.left-one,
.twelfths.left-one {
  right: 8.33333%;
}
.twelfth.skip-one,
.twelfths.skip-one {
  margin-left: 8.33333%;
}
.twelfth.right-two,
.twelfths.right-two {
  left: 16.66667%;
}
.twelfth.left-two,
.twelfths.left-two {
  right: 16.66667%;
}
.twelfth.skip-two,
.twelfths.skip-two {
  margin-left: 16.66667%;
}
.twelfth.right-three,
.twelfths.right-three {
  left: 25%;
}
.twelfth.left-three,
.twelfths.left-three {
  right: 25%;
}
.twelfth.skip-three,
.twelfths.skip-three {
  margin-left: 25%;
}
.twelfth.right-four,
.twelfths.right-four {
  left: 33.33333%;
}
.twelfth.left-four,
.twelfths.left-four {
  right: 33.33333%;
}
.twelfth.skip-four,
.twelfths.skip-four {
  margin-left: 33.33333%;
}
.twelfth.right-five,
.twelfths.right-five {
  left: 41.66667%;
}
.twelfth.left-five,
.twelfths.left-five {
  right: 41.66667%;
}
.twelfth.skip-five,
.twelfths.skip-five {
  margin-left: 41.66667%;
}
.twelfth.right-six,
.twelfths.right-six {
  left: 50%;
}
.twelfth.left-six,
.twelfths.left-six {
  right: 50%;
}
.twelfth.skip-six,
.twelfths.skip-six {
  margin-left: 50%;
}
.twelfth.right-seven,
.twelfths.right-seven {
  left: 58.33333%;
}
.twelfth.left-seven,
.twelfths.left-seven {
  right: 58.33333%;
}
.twelfth.skip-seven,
.twelfths.skip-seven {
  margin-left: 58.33333%;
}
.twelfth.right-eight,
.twelfths.right-eight {
  left: 66.66667%;
}
.twelfth.left-eight,
.twelfths.left-eight {
  right: 66.66667%;
}
.twelfth.skip-eight,
.twelfths.skip-eight {
  margin-left: 66.66667%;
}
.twelfth.right-nine,
.twelfths.right-nine {
  left: 75%;
}
.twelfth.left-nine,
.twelfths.left-nine {
  right: 75%;
}
.twelfth.skip-nine,
.twelfths.skip-nine {
  margin-left: 75%;
}
.twelfth.right-ten,
.twelfths.right-ten {
  left: 83.33333%;
}
.twelfth.left-ten,
.twelfths.left-ten {
  right: 83.33333%;
}
.twelfth.skip-ten,
.twelfths.skip-ten {
  margin-left: 83.33333%;
}
.twelfth.right-eleven,
.twelfths.right-eleven {
  left: 91.66667%;
}
.twelfth.left-eleven,
.twelfths.left-eleven {
  right: 91.66667%;
}
.twelfth.skip-eleven,
.twelfths.skip-eleven {
  margin-left: 91.66667%;
}

@media only screen and (max-width: 767px) {
  .two-up-small-tablet {
    width: 50% !important;
    clear: none !important;
    float: left !important;
  }

  .three-up-small-tablet {
    width: 33.33333% !important;
    clear: none !important;
    float: left !important;
  }

  .four-up-small-tablet {
    width: 25% !important;
    clear: none !important;
    float: left !important;
  }

  .five-up-small-tablet {
    width: 20% !important;
    clear: none !important;
    float: left !important;
  }
}
@media only screen and (max-width: 480px) {
  .two-up-mobile {
    width: 50% !important;
    clear: none !important;
    float: left !important;
  }

  .three-up-mobile {
    width: 33.33333% !important;
    clear: none !important;
    float: left !important;
  }

  .four-up-mobile {
    width: 25% !important;
    clear: none !important;
    float: left !important;
  }

  .five-up-mobile {
    width: 20% !important;
    clear: none !important;
    float: left !important;
  }
}
.row, .clear, .clearfix {
  clear: both;
}
.row:after, .clear:after, .clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.padded {
  padding: 10px;
}
.padded.double {
  padding: 20px;
}
.padded.triple {
  padding: 30px;
}

.pad-top {
  padding-top: 10px;
}
.pad-top.double {
  padding-top: 20px;
}
.pad-top.triple {
  padding-top: 30px;
}

.pad-right {
  padding-right: 10px;
}
.pad-right.double {
  padding-right: 20px;
}
.pad-right.triple {
  padding-right: 30px;
}

.pad-bottom {
  padding-bottom: 10px;
}
.pad-bottom.double {
  padding-bottom: 20px;
}
.pad-bottom.triple {
  padding-bottom: 30px;
}

.pad-left {
  padding-left: 10px;
}
.pad-left.double {
  padding-left: 20px;
}
.pad-left.triple {
  padding-left: 30px;
}

.gapped {
  margin: 10px;
}
.gapped.double {
  margin: 20px;
}
.gapped.triple {
  margin: 30px;
}

.gap-top {
  margin-top: 10px;
}
.gap-top.double {
  margin-top: 20px;
}
.gap-top.triple {
  margin-top: 30px;
}

.gap-right {
  margin-right: 10px;
}
.gap-right.double {
  margin-right: 20px;
}
.gap-right.triple {
  margin-right: 30px;
}

.gap-bottom {
  margin-bottom: 10px;
}
.gap-bottom.double {
  margin-bottom: 20px;
}
.gap-bottom.triple {
  margin-bottom: 30px;
}

.gap-left {
  margin-left: 10px;
}
.gap-left.double {
  margin-left: 20px;
}
.gap-left.triple {
  margin-left: 30px;
}

.clear:after, .clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.desktop-only {
  display: block;
}

.ipad-only {
  display: none;
}

.small-tablet-only {
  display: none;
}

.mobile-only {
  display: none;
}

@media only screen and (min-width: 1025px) {
  .hide-on-desktop {
    display: none !important;
  }

  .zero-desktop.padded, .zero-desktop.padded.double, .zero-desktop.padded.triple {
    padding: 0 !important;
    margin: 0 !important;
  }
  .zero-desktop.pad-top, .zero-desktop.pad-top.double, .zero-desktop.pad-top.triple {
    padding: 0 !important;
    margin: 0 !important;
  }
  .zero-desktop.pad-right, .zero-desktop.pad-right.double, .zero-desktop.pad-right.triple {
    padding: 0 !important;
    margin: 0 !important;
  }
  .zero-desktop.pad-bottom, .zero-desktop.pad-bottom.double, .zero-desktop.pad-bottom.triple {
    padding: 0 !important;
    margin: 0 !important;
  }
  .zero-desktop.pad-left, .zero-desktop.pad-left.double, .zero-desktop.pad-left.triple {
    padding: 0 !important;
    margin: 0 !important;
  }
  .zero-desktop.gapped, .zero-desktop.gapped.double, .zero-desktop.gapped.triple {
    padding: 0 !important;
    margin: 0 !important;
  }
  .zero-desktop.gap-top, .zero-desktop.gap-top.double, .zero-desktop.gap-top.triple {
    padding: 0 !important;
    margin: 0 !important;
  }
  .zero-desktop.gap-right, .zero-desktop.gap-right.double, .zero-desktop.gap-right.triple {
    padding: 0 !important;
    margin: 0 !important;
  }
  .zero-desktop.gap-bottom, .zero-desktop.gap-bottom.double, .zero-desktop.gap-bottom.triple {
    padding: 0 !important;
    margin: 0 !important;
  }
  .zero-desktop.gap-left, .zero-desktop.gap-left.double, .zero-desktop.gap-left.triple {
    padding: 0 !important;
    margin: 0 !important;
  }

  .no-padding-desktop.padded, .no-padding-desktop.padded.double, .no-padding-desktop.padded.triple, .no-pad-desktop.padded, .no-pad-desktop.padded.double, .no-pad-desktop.padded.triple {
    padding: 0 !important;
  }
  .no-padding-desktop.pad-top, .no-padding-desktop.pad-top.double, .no-padding-desktop.pad-top.triple, .no-pad-desktop.pad-top, .no-pad-desktop.pad-top.double, .no-pad-desktop.pad-top.triple {
    padding: 0 !important;
  }
  .no-padding-desktop.pad-right, .no-padding-desktop.pad-right.double, .no-padding-desktop.pad-right.triple, .no-pad-desktop.pad-right, .no-pad-desktop.pad-right.double, .no-pad-desktop.pad-right.triple {
    padding: 0 !important;
  }
  .no-padding-desktop.pad-bottom, .no-padding-desktop.pad-bottom.double, .no-padding-desktop.pad-bottom.triple, .no-pad-desktop.pad-bottom, .no-pad-desktop.pad-bottom.double, .no-pad-desktop.pad-bottom.triple {
    padding: 0 !important;
  }
  .no-padding-desktop.pad-left, .no-padding-desktop.pad-left.double, .no-padding-desktop.pad-left.triple, .no-pad-desktop.pad-left, .no-pad-desktop.pad-left.double, .no-pad-desktop.pad-left.triple {
    padding: 0 !important;
  }

  .no-margin-desktop.gapped, .no-margin-desktop.gapped.double, .no-margin-desktop.gapped.triple, .no-gap-desktop.gapped, .no-gap-desktop.gapped.double, .no-gap-desktop.gapped.triple {
    margin: 0 !important;
  }
  .no-margin-desktop.gap-top, .no-margin-desktop.gap-top.double, .no-margin-desktop.gap-top.triple, .no-gap-desktop.gap-top, .no-gap-desktop.gap-top.double, .no-gap-desktop.gap-top.triple {
    margin: 0 !important;
  }
  .no-margin-desktop.gap-right, .no-margin-desktop.gap-right.double, .no-margin-desktop.gap-right.triple, .no-gap-desktop.gap-right, .no-gap-desktop.gap-right.double, .no-gap-desktop.gap-right.triple {
    margin: 0 !important;
  }
  .no-margin-desktop.gap-bottom, .no-margin-desktop.gap-bottom.double, .no-margin-desktop.gap-bottom.triple, .no-gap-desktop.gap-bottom, .no-gap-desktop.gap-bottom.double, .no-gap-desktop.gap-bottom.triple {
    margin: 0 !important;
  }
  .no-margin-desktop.gap-left, .no-margin-desktop.gap-left.double, .no-margin-desktop.gap-left.triple, .no-gap-desktop.gap-left, .no-gap-desktop.gap-left.double, .no-gap-desktop.gap-left.triple {
    margin: 0 !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .ipad-only {
    display: inline-block !important;
  }

  .hide-on-ipad {
    display: none !important;
  }

  .desktop-only {
    display: none !important;
  }

  .zero-ipad.padded, .zero-ipad.padded.double, .zero-ipad.padded.triple {
    padding: 0 !important;
    margin: 0 !important;
  }
  .zero-ipad.pad-top, .zero-ipad.pad-top.double, .zero-ipad.pad-top.triple {
    padding: 0 !important;
    margin: 0 !important;
  }
  .zero-ipad.pad-right, .zero-ipad.pad-right.double, .zero-ipad.pad-right.triple {
    padding: 0 !important;
    margin: 0 !important;
  }
  .zero-ipad.pad-bottom, .zero-ipad.pad-bottom.double, .zero-ipad.pad-bottom.triple {
    padding: 0 !important;
    margin: 0 !important;
  }
  .zero-ipad.pad-left, .zero-ipad.pad-left.double, .zero-ipad.pad-left.triple {
    padding: 0 !important;
    margin: 0 !important;
  }
  .zero-ipad.gapped, .zero-ipad.gapped.double, .zero-ipad.gapped.triple {
    padding: 0 !important;
    margin: 0 !important;
  }
  .zero-ipad.gap-top, .zero-ipad.gap-top.double, .zero-ipad.gap-top.triple {
    padding: 0 !important;
    margin: 0 !important;
  }
  .zero-ipad.gap-right, .zero-ipad.gap-right.double, .zero-ipad.gap-right.triple {
    padding: 0 !important;
    margin: 0 !important;
  }
  .zero-ipad.gap-bottom, .zero-ipad.gap-bottom.double, .zero-ipad.gap-bottom.triple {
    padding: 0 !important;
    margin: 0 !important;
  }
  .zero-ipad.gap-left, .zero-ipad.gap-left.double, .zero-ipad.gap-left.triple {
    padding: 0 !important;
    margin: 0 !important;
  }

  .no-padding-ipad.padded, .no-padding-ipad.padded.double, .no-padding-ipad.padded.triple, .no-pad-ipad.padded, .no-pad-ipad.padded.double, .no-pad-ipad.padded.triple {
    padding: 0 !important;
  }
  .no-padding-ipad.pad-top, .no-padding-ipad.pad-top.double, .no-padding-ipad.pad-top.triple, .no-pad-ipad.pad-top, .no-pad-ipad.pad-top.double, .no-pad-ipad.pad-top.triple {
    padding: 0 !important;
  }
  .no-padding-ipad.pad-right, .no-padding-ipad.pad-right.double, .no-padding-ipad.pad-right.triple, .no-pad-ipad.pad-right, .no-pad-ipad.pad-right.double, .no-pad-ipad.pad-right.triple {
    padding: 0 !important;
  }
  .no-padding-ipad.pad-bottom, .no-padding-ipad.pad-bottom.double, .no-padding-ipad.pad-bottom.triple, .no-pad-ipad.pad-bottom, .no-pad-ipad.pad-bottom.double, .no-pad-ipad.pad-bottom.triple {
    padding: 0 !important;
  }
  .no-padding-ipad.pad-left, .no-padding-ipad.pad-left.double, .no-padding-ipad.pad-left.triple, .no-pad-ipad.pad-left, .no-pad-ipad.pad-left.double, .no-pad-ipad.pad-left.triple {
    padding: 0 !important;
  }

  .no-margin-ipad.gapped, .no-margin-ipad.gapped.double, .no-margin-ipad.gapped.triple, .no-gap-ipad.gapped, .no-gap-ipad.gapped.double, .no-gap-ipad.gapped.triple {
    margin: 0 !important;
  }
  .no-margin-ipad.gap-top, .no-margin-ipad.gap-top.double, .no-margin-ipad.gap-top.triple, .no-gap-ipad.gap-top, .no-gap-ipad.gap-top.double, .no-gap-ipad.gap-top.triple {
    margin: 0 !important;
  }
  .no-margin-ipad.gap-right, .no-margin-ipad.gap-right.double, .no-margin-ipad.gap-right.triple, .no-gap-ipad.gap-right, .no-gap-ipad.gap-right.double, .no-gap-ipad.gap-right.triple {
    margin: 0 !important;
  }
  .no-margin-ipad.gap-bottom, .no-margin-ipad.gap-bottom.double, .no-margin-ipad.gap-bottom.triple, .no-gap-ipad.gap-bottom, .no-gap-ipad.gap-bottom.double, .no-gap-ipad.gap-bottom.triple {
    margin: 0 !important;
  }
  .no-margin-ipad.gap-left, .no-margin-ipad.gap-left.double, .no-margin-ipad.gap-left.triple, .no-gap-ipad.gap-left, .no-gap-ipad.gap-left.double, .no-gap-ipad.gap-left.triple {
    margin: 0 !important;
  }
}
