// =============================================
//              Custom Settings
//          Last Updated:2013-6-15
// =============================================




///////////////////////
//  custom settings  //
///////////////////////

// output options
$classes:             true !default;       // enable CSS class selectors     (WIP)

// file paths
$root_path:           '../' !default;      // path to HTML document root (relative from $css_path)
$css_path:            'css/' !default;     // path to CSS output (relative from HTML document root)
$boxsizing_path:      '/js/libs/boxsizing.htc' !default;  // path to box sizing polyfill (change to absolute path from HTML document root)

// layout/grid settings
$max-width:           1200px !default;     // max container width (i.e. - 960px)
$gutter:              10px !default;       // gutter spacing

// break points
$mobile:              "only screen and (max-width:480px)" !default;
$small-tablet:        "only screen and (max-width:767px)" !default;
$ipad:                "only screen and (min-width:768px) and (max-width:1024px)" !default;
$desktop:             "only screen and (min-width:1025px)" !default;




///////////////////////
//   reset elements  //
///////////////////////

// elements that will be reset (trim this to include only the elements that are used in your markup)
$reset: true !default;
$reset-elements:  html body
                  div span header footer aside nav menu section article details
                  h1 h2 h3 h4 h5 h6 p
                  ol ul li dl dt dd
                  em small big strong b u i
                  blockquote cite pre code time address
                  a img center hr
                  form fieldset legend label input textarea button
                  table caption tbody thead tfoot tr th td
                  iframe object canvas audio video !default;
