@import "groundwork";


.extend-button {
  @extend %button;
}

$types: info alert warning error success;

@for $i from 1 through length($types) {
  .extend-#{nth($types, $i)} {
    @extend .#{nth($types , $i)};
  }
}

$states: active disabled;

@for $i from 1 through length($states) {
  .extend-#{nth($states, $i)} {
    @extend .#{nth($states , $i)};
  }
}

$sizes: small large;

@for $i from 1 through length($sizes) {
  .extend-#{nth($sizes, $i)} {
    @extend .#{nth($sizes , $i)};
  }
}

$styles: square round block;

@for $i from 1 through length($styles) {
  .extend-#{nth($styles, $i)} {
    @extend .#{nth($styles , $i)};
  }
}

// dropdown

// button list