// color palette
$white:         #ffffff;
$black:         #000000;

$gray:          #505050;
$lt-gray:       #e7e7e7;
$md-gray:       #c7c7c7;
$dk-gray:       #2c2c2f;

$green:         #bada55;
$lt-green:      lighten($green, 15%);
$dk-green:      darken($green, 15%);

$blue-1:        #55ADAB;
$blue-2:        #1DABB8;
$blue-3:        #198D98;
$blue:          $blue-3;
$lt-blue:       lighten($blue, 15%);  // #24cada
$dk-blue:       darken($blue, 15%); 
$navy:          #282830;

$red:           #c82647;
$lt-red:        lighten($red, 15%);
$dk-red:        darken($red, 15%);

$purple:        #AE81FF;
$yellow:        #E6DB74;
$orange:        #F0971E;

.headings > .one {
  padding:$gutter;
  font-size:1.5em;
  text-align:center;
  color:$button-text;
  &:nth-child(1) { background:$success-color; }
  &:nth-child(2) { background:$info-color; }
  &:nth-child(3) { background:$warning-color; }
  &:nth-child(4) { background:$error-color; }
  &:nth-child(5) { background:$alert-color; }
}

.demo {
  .row, %row {
    background:lighten(gray, 48%);
  }
  .whole, 
  .half, .halves, 
  .third, .thirds, 
  .fourth, .fourths, 
  .fifth, .fifths, 
  .sixth, .sixths, 
  .seventh, .sevenths, 
  .eighth, .eighths, 
  .ninth, .ninths, 
  .tenth, .tenths, 
  .eleventh, .elevenths, 
  .twelfth, .twelfths,
  %whole, 
  %half, %halves, 
  %third, %thirds, 
  %fourth, %fourths, 
  %fifth, %fifths, 
  %sixth, %sixths, 
  %seventh, %sevenths, 
  %eighth, %eighths, 
  %ninth, %ninths, 
  %tenth, %tenths, 
  %eleventh, %elevenths, 
  %twelfth, %twelfths {
    min-height:1em;
    padding:$gutter;
    background:lighten(gray, 45%);
    border:1px dashed lighten(gray, 35%);
    margin-top:-1px;
    @include drop-shadow(rgba(0,0,0,0.25), 5px, 0, 0);
  }
}
