// =============================================
//    Fractional grid system by Gary Hepting
//          Last Updated:2013-3-05
//
//    ***** REQUIRES BORDER BOX SIZING *****
// 
// =============================================


///////////////////////////////////////////////
//    grid system - placeholders & classes   //
///////////////////////////////////////////////

%container {
  max-width: $max-width;
  margin: 0 auto;
}

%row {
  @extend .clear;
  width: $one-whole;
}

%column {
  float: left;
  position: relative;
  min-height: 1px;
}

%centered {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

@if $classes {
  .container          { @extend %container; }
  .row                { @extend %row; }
  .column             { @extend %column; }
  .centered           { @extend %centered; }
}

$selectors: if($classes, "%" ".", "%");

$numbers: one two three four five six seven eight nine ten eleven twelve;
$fractions: whole half third fourth fifth sixth seventh eighth ninth tenth eleventh twelfth;
$fractions-plural: wholes halves thirds fourths fifths sixths sevenths eighths ninths tenths elevenths twelfths;

// function to generate the grid code (placeholders and optionally, classes)
@for $i from 1 through length($selectors) {
  @for $j from 1 through length($numbers) {
    #{nth($selectors, $i) + nth($fractions, $j)},
    #{nth($selectors, $i) + nth($fractions-plural, $j)} {
      width: percentage(1 / $j);
      @extend %column;
      @for $width from 1 through $j {
        &#{nth($selectors, $i) + nth($numbers, $width)} {
          width: percentage($width / $j);
          @extend %column;
        }
      }
      @for $right-left-skip from 1 through $j - 1 {
        &#{nth($selectors, $i) + "right-" + nth($numbers, $right-left-skip)} {
          left: percentage($right-left-skip / $j);
        }
        &#{nth($selectors, $i) + "left-" + nth($numbers, $right-left-skip)} {
          right: percentage($right-left-skip / $j);
        }
        &#{nth($selectors, $i) + "skip-" + nth($numbers, $right-left-skip)} {
          margin-left: percentage($right-left-skip / $j);
        }
      }
    }
  }
}