// =============================================
//              Custom Settings
//          Last Updated:2013-5-21
// =============================================




///////////////////////
//  custom settings  //
///////////////////////

// framework options
// $classes:             true;       // enable CSS class selectors     (WIP)
// $tags:                true;       // enable semantic tag selectors  (WIP)
// $tag-elements: html body
//							div span header footer aside nav menu section article details
//							h1 h2 h3 h4 h5 h6 p
//							ol ul li dl dt dd
//							em small big strong b u i
//							blockquote cite pre code time address
//							a img center hr
//							form fieldset legend label input textarea select button
//							table caption tbody thead tfoot tr th td
//							iframe object canvas audio video;
// $aria:                true;       // enable Aria role selectors     (WIP)

// file paths
// $root_path:           '../';      // path to HTML document root (relative from $css_path)
// $css_path:            'css/';     // path to CSS output (relative from HTML document root)
// $images_path:         'images/';  // path to images (relative from $root_path)
// $fonts_path:          'font/';    // path to fonts (relative from $root_path)
// $boxsizing_path:      '/js/libs/boxsizing.htc';  // path to box sizing polyfill (change to absolute path from HTML document root)

// layout/grid settings
// $max-width:           1200px;     // max container width (i.e. - 960px)
// $gutter:              10px;       // gutter spacing



///////////////////////
//       colors      //
///////////////////////

// base styles
// $background-color:    #ffffff;
// $font-color:          #2b2b2d;
$base-font-size:         14px;      // base font size for vertical rhythm
$base-line-height:       17px;      // base line height for vertical rhythm
// $font-family:         Helvetica, Arial, Geneva, sans-serif;

// links
// $link-color:          #489AC1;
// $link-active:         #198D98;

// selection
// $selection-color:     $link-color;
// $selection-text:      #ffffff;

// borders
// $border-color:        #dddddd;

// buttons
// $button-color:        #1DABB8;
// $button-border-color: darken($button-color,10%);
// $button-active:       #198D98;
// $button-text:         #ffffff;
// $button-active-text:  #ffffff;

// disabled
// $disabled-color:      gray;

// info
// $info-color:          #3a87ad;
// $info-background:     #d9edf7;
// $info-border:         #bce8f1;

// alert
// $alert-color:         #c09853;
// $alert-background:    #fcf8e3;
// $alert-border:        #fbeee0;

// error
// $error-color:         #b94a48;
// $error-background:    #f2dede;
// $error-border:        #eed3d7;

// warning
// $warning-color:       #FF971E;
// $warning-background:  #FFE5C7;
// $warning-border:      #FFDBB3;

// success
// $success-color:       #468847;
// $success-background:  #dff0d8;
// $success-border:      #d6e9c6;

// $state-name:    disabled         info         alert         warning         error         success;
// $state-code:   $disabled-color  $info-color  $alert-color  $warning-color  $error-color  $success-color;
// $state-text:   $white           $white       $white        $white          $white        $white;

// modifier colors
// $green:               #2ecc71 !default;
// $blue:                #3498db !default;
// $purple:              #9b59b6 !default;
// $yellow:              #f1c40f !default;
// $orange:              #e67e22 !default;
// $red:                 #e74c3c !default;
// $pink:                #f02475 !default;
// $turquoise:           #1abc9c !default;
// $asphalt:             #34495e !default;

// $modifier-name:    green     blue     purple     yellow     orange     red     pink     turquoise     asphalt;
// $modifier-code:   $green    $blue    $purple    $yellow    $orange    $red    $pink    $turquoise    $asphalt;
// $modifier-text:   $white    $white   $white     $white     $white     $white  $white   $white        $white;

// rounded corners
// $radius:              4px;



///////////////////////
//   reset elements  //
///////////////////////

// elements that will be reset (trim this to include only the elements that are used in your markup)
// $reset: true;
// $reset-elements:  html body
//                   div span header footer aside nav menu section article details
//                   h1 h2 h3 h4 h5 h6 p
//                   ol ul li dl dt dd
//                   em small big strong b u i sub sup del strike
//                   blockquote cite pre code time address
//                   a img center hr
//                   form fieldset legend label input textarea select button
//                   table caption tbody thead tfoot tr th td
//                   iframe object canvas audio video;



///////////////////////
//     web fonts     //
///////////////////////

// font names
// $web-font-names:      Average Sans,
//                       American Typewriter;
// font files (must all be named the same as listed below and include .eot, .woff and .ttf file types)
// $web-font-files:      average-sans-webfont,
//                       americantypewriterstd-bold;



///////////////////////
//      modals       //
///////////////////////

// overlay
// $overlay-color:                   #0b0b0b;                    // Color of overlay screen
// $overlay-opacity:                 0.5;                        // Opacity of overlay screen
// $shadow:                          0 0 8px rgba(0, 0, 0, 0.6); // Shadow on image or iframe

// spacing
// $popup-padding-left:              8px;                        // Padding from left and from right side
// $popup-padding-left-mobile:       6px;                        // Same as above, but is applied when width of window is less than 800px

// $z-index-base:                    500;                        // Base z-index of popup

// controls
// $include-arrows:                  true;                       // Include styles for nav arrows
// $controls-opacity:                0.65;                       // Opacity of controls
// $controls-color:                  #FFF;                       // Color of controls
// $inner-close-icon-color:          #333;                       // Color of close button when inside
// $controls-text-color:             #CCC;                       // Color of preloader and "1 of X" indicator
// $controls-text-color-hover:       #FFF;                       // Hover color of preloader and "1 of X" indicator
// $IE7support:                      true;                       // Very basic IE7 support

// Inline-type options
// $modal-max-width:                 $max-width;                 // Maximum width of inline modals

// Iframe-type options
// $include-iframe-type:             true;                       // Enable Iframe-type popups
// $iframe-padding-top:              ($gutter*4);                       // Iframe padding top
// $iframe-background:               #000;                       // Background color of iframes
// $iframe-max-width:                $max-width;                      // Maximum width of iframes
// $iframe-ratio:                    9/16;                       // Ratio of iframe (9/16 = widescreen, 3/4 = standard, etc.)

// Image-type options
// $include-image-type:              true;                       // Enable Image-type popups
// $image-padding-top:               ($gutter*4);                       // Image padding top
// $image-padding-bottom:            ($gutter*4);                       // Image padding bottom
// $include-mobile-layout-for-image: true;                       // Removes paddings from top and bottom

// Image caption options
// $caption-title-color:             #F3F3F3;                    // Caption title color
// $caption-subtitle-color:          #BDBDBD;                    // Caption subtitle color
