/* =============================================
 *                 IE hacks
 *          Last Updated:2013-5-22
 * ===========================================*/


// custom settings
@import "settings";     // optional

// core
@import "core/all";         // required



html {
  &.lt-ie9 {
    min-width:$max-width !important;
    body {
      width:auto !important;
    }
    .container {
      width:auto !important;
    }
  }
}
